@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap');

body, html, *{
    font-size: 10px;
    box-sizing: border-box;
    margin: 2rem auto;
    padding: 0;
    text-align: center;
}
body {
    background-color: blanchedalmond;
}
h1 {
    font-size: 70px;
    font-family: "Oregano", cursive;
}
.container {
    background-color: antiquewhite;
    width: 93vw; 
    padding: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.card{
    background-color: bisque;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 12px 12px 2px 1px rgba(141, 111, 46, 0.3);
    width: 26%; /* this makes cards shrink when viewport shrinks instead of stack into 1 column*/
    /* width: 50em; */
    height: 35rem;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s;
}
/* always start with wider width so it filters down  */
@media screen and (max-width: 1300px) {
    .card {
        width: 43%;
    }
}

@media screen and (max-width: 650px) {
    .card {
        width: 90%; /* has to be less than 50% (which is half of container bc of margin & spacing */
    }
    .container {
        flex-direction: column;
    }
}

.card:hover {    
    transform: scale(1.1);
    box-shadow: 8px 15px rgba(141, 111, 46, 0.5)
}
#card-1:hover {
    transform: translateY(-15px)
}
#card-2:hover {
    transform: rotate(15deg);
}
#card-3:hover {
    transform: scale(0.9);
}
.card-heading {
    font-size: 20px;
}
.card-img {
    height: 50%;
    width: 70%;
    object-fit: cover;
}
.card-desc {
    margin-bottom: 1.5rem;
}