body, html, *{
    font-size: 10px;
    box-sizing: border-box;
    margin: 2rem auto;
    padding: 0;
    text-align: center;
}
.container {
    background-color: antiquewhite;
    width: 93vw; 
    padding: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card{
    border: 2px solid black;
    border-radius: 30px;
    width: 26%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card-heading {
    font-size: 20px;
}
.card-img {
    height: 50%;
    width: 70%;
    object-fit: cover;
}
.card-desc {
    margin-bottom: ;
}