body, html, *{   /* does * means that these properties are applied to all elements in it?? */
    font-size: 10px;
    box-sizing: border-box;
    margin: 2rem auto;
    padding: 0;
}
a,
a:link,
a:visited,
a:focus {  /* focus is triggered when the user clicks or taps on an element or selects it with the keyboard's Tab key */
    color: white;
    text-decoration: underline;
}
button {
    transition: all 0.5s;   /* time span of transition, makes it smoother */
}
button:hover {   /* :hover means these things will happen to/change about the button when mouse hovers over it */
    transform: scale(1.2) translateY(10px);
    filter: blur(50%);
    background-color: blue;
}

.container{
    width: 90vw;   /* vw means percent of viewport width */
    margin: 5rem auto;
    display: flex;    /* needed to initiated flexbox, lays everything out evenly */
    /* flex-wrap: wrap; */  /* wraps page goes to next line */
    flex-flow: row wrap; /* combines flex-direction and flex-wrap */
    justify-content: space-between;
    
}
/* align-content changes the spacing between lines,
align-items determines how the items as a whole are aligned in container
if is only one line, align-content has no effect. */
.card{
    height: 30rem;
    width: 26%;     /* 1rem = font size, it's a relative unit; use % for it to only have 3 cards per row */
    border: 2px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;  /* makes stuff inside it a column/row */
    align-items: center; /* could change depending on whether flex-direction is row, column, etc. */
    justify-content: space-evenly;  /* space-between gives max equal spacing between elements, space-around gives equal spacing around items what does this mena???*/
    background-image: url(); /* to add transparent layer over img, use linear-gradient before url */
}
.card-img{
    width: 100%;
    height: 45%;
    object-fit: cover;
    ;
}
.card-header{
    margin-top: 1.2rem;
}
.card-price{
    margin-bottom: 1.2rem;
}